<!DOCTYPE HTML>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>//pseudo</title>
  	<link rel="stylesheet" href="/stylesheets//bootstrap.min.css">
  	<link rel="stylesheet" href="stylesheets/main.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  </head>
  <body ng-app="">

<!--   	<div class="fixed-bar animated-quick">
		<div class="container" id="navwidth">
			<div class="row">
				<nav class="sixcol">
					<ul id="menu-main-navigation" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-0">
							<a href="/">HOME</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1">
        					<a href="/about">ABOUT</a>
        				</li>
        				<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-2">
        					<a href="/contact">CONTACT</a>
	        			</li>
	        			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
	        				<a href="/howto">HOW TO SUBMIT</a>
	       				 </li>

					</ul>
				</nav>				
			</div>
		</div>
	</div> -->



  		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
   				<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
      				<a class="navbar-brand" href="/">//pseudo</a>
  				</div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#generate">generate</a></li>
	            <li><a href="#add">add code</a></li>
	            <li><a href="#fun">fun sh*t</a></li>
	            <li><a href="#">about</a></li>
	            <li><a href="#">contact</a></li>
		      </ul>

		      <!-- <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/">home</a></li>
		            <li><a href="#">generate</a></li>
		            <li><a href="#">add code</a></li>
		            <li><a href="#">fun sh*t</a></li>
		            <li><a href="#">about</a></li>
		            <li><a href="#">contact</a></li>
		          </ul>
		        </li>
		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
  	<header class="splash" id="home">
  		<div class="logo">//pseudo</div>
<br><br><br>

	<div class="row">
	  	<div class="col-md-4">
	  		<div class="text" id="generate">&lt;!generate&gt;</div>
		</div>
	</div>
	<div class="row">
	  	<div class="col-md-4 col-md-offset-1">  			
	  		<div class="text">
	  			//pseudo
	  		</div> 
	  		<div id="context" data-toggle="context" data-target="#context-menu">
	  			<div id="context-menu">
					  <ul class="dropdown-menu" role="menu">
					    <li><a tabindex="-1" href="#">Action</a></li>
						...
					    <li><a tabindex="-1" href="#">Separated link</a></li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
  	</header>
  	<section id="add">
  		<div class="add">
  			<div class="text-center">
	  			<div class="form-group">
					<input type="text" name="language" class="form-control" placeholder="language">
				</div>
				<form class="form-inline" action="/results" method="GET">
					<div class="form-group">
  						<textarea class="form-control" rows="5" name="pseudo_code" class="form-control" placeholder="pseudo code"></textarea>
				
					</div>
					
					<button class="btn btn-inverse">add</button>
				</form>
			</div>
		</div>

  	</section>



  	<footer id="aboutcontact">
  		<div class="row">
  			<div class="col-xs-12 col-sm-6 col-md-6">
  				<h1>//about</h1>
  				<br>
  				<p>We are three Bay Area builders developing for developers. //pseudo allows coders to generate random pseudocode suited for the language they're coding in and can share their pseudocode with others. Build. Relax. Be creative. Have fun. Build.</p>
  			</div>
  			<div class="col-xs-12 col-sm-6 col-md-6">
  				<h1>//contact</h1>
  				<br>
					<form class="form-horizontal" method="post">
                    	<fieldset>
	                        <div class="form-group">
	                            <span class="col-md-1 text-center"></span>
	                            <div class="col-md-8">
	                                <input id="fname" name="name" type="text" placeholder="&lt;$= first_name %&gt;" class="form-control">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <span class="col-md-1 text-center"></span>
	                            <div class="col-md-8">
	                                <input id="lname" name="name" type="text" placeholder="&lt;%= last_name %&gt;" class="form-control">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <span class="col-md-1 text-center"></span>
	                            <div class="col-md-8">
	                                <input id="email" name="email" type="text" placeholder="&lt;%= email_address %&gt;" class="form-control">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <span class="col-md-1 text-center"></span>
	                            <div class="col-md-8">
	                                <textarea class="form-control" id="message" name="message" placeholder="say hi." rows="7"></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-10 text-center">
	                                <button type="submit" class="btn btn-inverse">send</button>
	                            </div>
	                        </div>
                    	</fieldset>
               	 	</form>
  			</div>
		</div>
  	</footer>

<script>
$('.context').contextmenu();
</script>




  </body>
</html>