body {
	margin: 0 auto;
	font-family: Monaco, monospace;
	background: black;
	color: gray;
}

#navbar {
    background-color: rgba(120, 120, 120, 0.3);
    width:100%;
    position: fixed;
    transition: all 0.8s ease 0s;
}

.fixed {
    position:fixed;
    top:0;
}

.logo {
	color: gray;
	font-size: 10em;
	text-align: center; 
}

#generate {
	color: green;
}

#home {
    background: url('http://i.imgur.com/34NswHR.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

.text {
	font-size: 4em;
}

div #generate {
    display: inline;
}

#add {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

#aboutcontact {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

#page {
    background-color: rgba(245, 245, 245, 0.7);
    width: 100%;
    height: 100%;
}

